/* v-cloak directive, will hide the vue instance until the compilation finishes */

[v-cloak] {
    display: none;
}

.input-group {
    margin: 10px;
}

input.form-control {
    background-color: white !important;
}

#form-control a {
    color: #428bca !important;
}

#form-control a:hover {
    color: #003560 !important;
}

#item {
    padding: 10px;
    margin: 10px;
    border-radius: 4px;
    background-color: #F8F8F8;
}

h3 {
    margin-bottom: 20px !important;
}

input.search-query {
    padding-left: 26px;
}

form.form-search {
    position: relative;
}

form.form-search:before {
    display: block;
    width: 14px;
    height: 14px;
    content: "\e003";
    font-family: 'Glyphicons Halflings';
    background-position: -48px 0;
    position: absolute;
    top: 8px;
    left: 8px;
    opacity: .5;
    z-index: 1000;
}

#search {
    width: 100%;
}

.label-default {
    background-color: #0069b4 !important;
}

.input-group-addon {
    background-color: #6f9ed4 !important;
    border: 1px solid #6f9ed4 !important;
}

.form-control {
    border: 1px solid #6f9ed4 !important;
}

.input-group-addon {
    color: white !important;
}

.btn-custom {
    background-color: #6f9ed4;
    border-color: #6f9ed4;
    color: white;
}

.btn-custom:hover,
.btn-custom:focus,
.btn-custom:active,
.btn-custom.active {
    background-color: #5b91ce;
    border-color: #4884c8;
}

.btn-custom.disabled:hover,
.btn-custom.disabled:focus,
.btn-custom.disabled:active,
.btn-custom.disabled.active,
.btn-custom[disabled]:hover,
.btn-custom[disabled]:focus,
.btn-custom[disabled]:active,
.btn-custom[disabled].active,
fieldset[disabled] .btn-custom:hover,
fieldset[disabled] .btn-custom:focus,
fieldset[disabled] .btn-custom:active,
fieldset[disabled] .btn-custom.active {
    background-color: #6f9ed4;
    border-color: #6f9ed4;
}

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}

.mySpinner {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 60px;
    height: 60px;
    margin-left: -25px;
    margin-top: -25px;
    text-align: center;
    vertical-align: middle;
    padding: 10px;
    border-radius: 50%;
    background: white;
    z-index: 1031;
    display: none;
}

.spinner:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40px;
    height: 40px;
    margin-top: -20px;
    margin-left: -20px;
    border-radius: 50%;
    border-top: 4px solid #07d;
    border-right: 4px solid transparent;
    animation: spinner .6s linear infinite;
    z-index: 1033;
}
