<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="AbfallberaterInnen suchen">
  <meta name="author" content="Bjoern Schilberg">

  <title>AbfallberaterInnen suchen</title>

  <link rel="manifest" href="manifest.json"></link>

  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css/styles.css" />

</head>


<body>
  <div class="mySpinner spinner" id="mySpinner"></div>
  <!-- v-cloak directive, will hide the vue instance until the compilation finishes -->
  <div v-cloak id="app" class="full-screen container center">

    <div class="search wrapper">
      <!--@keydown.enter.prevent  prevents deleting the input field if ENTER is pressed-->
      <div class="input-group">
        <div class="input-group-addon">
          <img src="css/img/search.png" width="14" />
        </div>
        <input type="search" class="form-control search-query" placeholder="Postleitzahl oder Ort eingeben ..." v-model="query" v-on:input="search"
          @keydown.enter.prevent="" id="search" />
      </div>
    </div>

    <h3 v-if="results.length > 0">
      Ihre Abfallberatung
    </h3>

    <div id="item" v-if="results" v-for="item in results" v-bind:item="item">
      <div class="input-group" v-if="item['Unternehmen 1'] || item['Unternehmen 2']">
        <span class="input-group-addon" title="Unternehmen" style="vertical-align: top;">
          <img src="css/img/home-white.png" width="14" />
        </span>
        <div class="form-control" style="height: auto;">
          <div v-if="item['Unternehmen 1']">{{item['Unternehmen 1']}}</div>
          <div v-if="item['Unternehmen 2']">{{item['Unternehmen 2']}}</div>
        </div>
      </div>


      <div class="input-group">
        <span class="input-group-addon" style="vertical-align: top;" title="AbfallberaterIn">
          <img src="css/img/user-white.png" width="14" />
        </span>
        <div class="form-control" style="height: auto;">
          <div v-if="item.Abfallberater">{{item.Abfallberater}}</div>
          <div v-if="item.Adresse">{{item.Adresse}}</div>
        </div>
      </div>

      <div class="input-group" v-if="item['E-Mail']">
        <span class="input-group-btn" title="E-Mail">
          <a class="btn btn-custom" type="button" v-bind:href="`mailto:${item['E-Mail']}`">
            <img src="css/img/envelope-white.png" width="14" />
          </a>
        </span>
        <div class="form-control" style="height: auto;">
          <a v-bind:href="`mailto:${item['E-Mail']}`" target="_blank">
            {{item['E-Mail']}}
          </a>
        </div>
      </div>

      <div class="input-group" v-if="item.Telefon">
        <span class="input-group-btn" title="Telefon">
          <a class="btn btn-custom" type="button" v-bind:href="`tel:${item.Telefon}`">
            <img src="css/img/phone-white.png" width="14" />
          </a>
        </span>
        <div class="form-control" style="height: auto;">
          <a v-bind:href="`tel:${item['Telefon']}`" target="_blank">
            {{item['Telefon']}}
          </a>
        </div>
      </div>

      <div class="input-group" v-if="item['Angebote']">
        <span class="input-group-addon" title="Angebote" style="vertical-align: top;">
          <img src="css/img/info-sign-white.png" width="14" />
        </span>
        <div class="form-control" style="height: auto;">
          <em>Angebote zu Abfallvermeidung und Abfalltrennung (Auswahl):</em>
          <div style="margin-top:10px">{{item.Angebote}}</div>
        </div>
      </div>

      <div class="input-group" v-if="item['Link 1']">
        <span class="input-group-btn" title="Link 1">
          <a class="btn btn-custom" type="button" v-bind:href="item['Link 1']" target="_blank">
            <img src="css/img/external-link-white.png" width="14" />
          </a>
        </span>
        <div class="form-control" style="height: auto;">
          <a v-bind:href="item['Link 1']" target="_blank">
            {{item['Linktext 1']}}
          </a>
        </div>
      </div>

      <div class="input-group" v-if="item['Link 2']">
        <span class="input-group-btn" title="Link 2">
          <a class="btn btn-custom" type="button" v-bind:href="item['Link 2']" target="_blank">
            <img src="css/img/external-link-white.png" width="14" />
          </a>
        </span>
        <div class="form-control" style="height: auto;">
          <a v-bind:href="item['Link 2']" target="_blank">
            {{item['Linktext 2']}}
          </a>
        </div>
      </div>

      <div class="input-group" v-if="item['Link 3']">
        <span class="input-group-btn" title="Link 3">
          <a class="btn btn-custom" type="button" v-bind:href="item['Link 3']" target="_blank">
            <img src="css/img/external-link-white.png" width="14" />
          </a>
        </span>
        <div class="form-control" style="height: auto;">
          <a v-bind:href="item['Link 3']" target="_blank">
            {{item['Linktext 3']}}
          </a>
        </div>
      </div>

    </div>
  </div>
  <script type="text/javascript" src="js/manup.min.js"></script>
  <script type="text/javascript" src="js/vue.js"></script>
  <script type="text/javascript" src="js/papaparse.min.js"></script>
  <script type="text/javascript" src="js/xlsx.full.min.js"></script>
  <script type="text/javascript" src="js/scripts.js"></script>

</body>

</html>
